/* src/index.css */
@font-face {
    font-family: 'toss-font';
    src: url('/assets/fonts/BMJUA_otf.otf'); /* EOT 폰트 파일 */
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden; /* 스크롤 방지 */
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.app-container {
    width: 100vw;  /* 100% 뷰포트 너비 */
    height: calc(var(--vh, 1vh) * 100); /* 실제 뷰포트 높이 적용 */
    background-color: white;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
    overflow: hidden; /* 자식 요소가 넘칠 경우 스크롤 방지 */
    position: relative;
}

.page-content {
    width: 100%; /* 부모의 크기에 맞게 */
    height: 100%; /* 부모의 크기에 맞게 */
}
