/* Header.module.scss */
.header {

    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* 좌측과 우측에 공간을 나눔 */
    align-items: center; /* 수직 중앙 정렬 */
}

.logoWrapper {
    flex: 1; /* 왼쪽에 로고를 고정 */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

.navItem a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #1abc9c; /* 배드민턴 코트 연상하는 색상 (녹색 계열) */
    padding: 10px;
    transition: background-color 0.3s, color 0.3s; /* 부드러운 색상 전환 */
}
.navItem a:hover {
    background-color: #16a085; /* 호버 시 색상 (약간 어두운 녹색) */
    color: white; /* 호버 시 텍스트 색상 흰색 */
}

.navItem a:active {
    background-color: white; /* 클릭 시 배경을 흰색으로 */
    color: #1abc9c; /* 클릭 시 텍스트 색상 배드민턴 바닥 색상 */
}

/* 반응형 디자인: 작은 화면에서 메뉴를 세로로 쌓기 */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .navList {
        flex-direction: column;
        width: 100%;
        margin-top: 20%;
    }

    .navItem {
        text-align: right;
        padding: 10px;
        width: 100%;
    }
}