.header {
    display: flex;
    justify-content: space-between; /* 좌측 로고, 우측 아이콘 */
    align-items: center;
    padding: 10px 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 45px;
}

.logo {
    width: 60px; /* 아이콘 크기 줄이기 */
    height:60px;
    object-fit: contain; /* 이미지 비율 유지 */
    transition: transform 0.3s ease;
}

.userSettings {
    display: flex;
    align-items: center;
}

.userSettingsIcon {
    width: 32px; /* 아이콘 크기 줄이기 */
    height: 32px;
    object-fit: contain; /* 이미지 비율 유지 */
    transition: transform 0.3s ease;
    margin-bottom: 4px; /* 아이콘과 텍스트 간 간격 */
}

.userSettingsIcon:hover {
    transform: scale(1.1); /* 아이콘 클릭 시 크기 확대 */
}
