footer {
  background-color: #00A3FF; /* 배경색 */
  padding: 10px 0; /* 상하 여백 줄이기 */
  color: #000000; /* 텍스트 색상 */
  position: fixed; /* 하단 고정 */
  bottom: 0; /* 화면 하단에 배치 */
  left: 0; /* 왼쪽 경계에 고정 */
  right: 0; /* 오른쪽 경계에 고정 */
  height: 70px; /* 푸터 높이 */
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.footerContainer {
  display: flex;
  justify-content: space-around; /* 아이템들 간격을 고르게 배치 */
  align-items: center;
  height: 100%; /* 컨테이너 높이를 푸터에 맞게 설정 */
}

.footerItem {
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* 아이콘과 텍스트를 수직으로 배치 */
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  text-align: center; /* 텍스트 정렬 */
}

.footerItem img {
  width: 32px; /* 아이콘 크기 줄이기 */
  height: 32px;
  object-fit: contain; /* 이미지 비율 유지 */
  transition: transform 0.3s ease;
  margin-bottom: 4px; /* 아이콘과 텍스트 간 간격 */
}


.footerItem img:hover {
  transform: scale(1.2); /* 호버시 크기 확대 */
}

.footerItem p {
  margin-top: 12px; /* 아이콘과 텍스트 간 간격 */
  font-size: 12px; /* 텍스트 크기 */
  color: #FFFFFF; /* 텍스트 색상 */
}
